* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
    width: 96%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

.contact {
    margin: 0;
    padding: 0;
}

h1{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 42px;
    color: white;
    text-shadow: 6px 6px green;
}

.option-part {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
}

.option-part .option:first-child {    
    text-align: justify;    
}

.option-part .option:last-child {
    flex-shrink: 0;
}

.option-part .option:last-child a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.option-part .option:last-child a:hover {
    color: blueviolet;
    text-decoration: underline;
}

form {
    margin-bottom: 30px;
    padding: 20px;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 10px;
    font-size: 24px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 1);
    border-radius: 10px;
}

form input {
    width: 100%;
    padding-bottom: 4px;
    font-size: 18px;
    background-color: transparent;
    outline: 0;
    border: 0;
    border-bottom: 2px solid white;
}

form textarea {
    width: 100%;
    height: 100px;
    background-color: transparent;
    outline: 0;
    border: 0;
    border-bottom: 2px solid white;
}

.rating {
    display: flex;
    direction: row-reverse;
    justify-content: center;
}

.rating input {
    display: none;
}

.rating label {
    font-size: 2rem;
    color: #ccc;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
}

.rating input:checked ~ label {
    color: gold;
}

.rating input:hover ~ label {
    color: gold;
}

button {
    width: 100%;
    padding: 10px 0;
    font-size: 24px;
    font-weight: bold;
    background-color: white;
    color: black;
    outline: 0;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 1);
    cursor: pointer;
}

button:hover {
    background-color: gray;
    box-shadow: 0 0 20px rgba(255, 255, 255, 1);
}