* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contact {
    margin: 0;
    padding: 0;
}

.first-part{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 42px;
    color: white;
    font-weight: bold;
    margin-bottom: 50px;
    cursor: pointer;
}

.option-part {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
}

.option-part .option:first-child {    
    text-align: justify;    
}

.option-part .option:last-child {
    flex-shrink: 0;
}

.option-part .option:last-child a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.option-part .option:last-child a:hover {
    color: blueviolet;
    text-decoration: underline;
}