* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: black;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    font-size: 42px;
    text-shadow: 6px 6px green;
}

main {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding-bottom: 20px;
}

.product-div {
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 1);
    overflow: hidden;
}

img {
    width: 40%;
}

.inner {
    width: 100%;
    max-height: 100px;
    display: flex;
    justify-content: space-around;
    overflow: hidden;
    transition: 0.5s ease-in-out;
}

.info-div {
    width: 96%;
    padding-bottom: 4px;
    max-height: 0px;
    overflow: hidden;
    transition: 0.5s ease-in-out;
    text-align: justify;
    font-size: 11px;
}

.product-div:hover {
    box-shadow: 0 0 25px rgba(255, 255, 0, 1);
}

.product-div:hover .inner {
    max-height: 0px;
}

.product-div:hover .info-div {
    max-height: 100px;
}